function AlienShots.init 0
push constant 4
call Array.new 1
pop static 0
push constant 0
push static 0
add
push constant 9
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push static 0
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push static 0
add
push constant 5
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push static 0
add
push constant 4
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function AlienShots.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 3
call Array.new 1
pop this 0
push constant 0
push this 0
add
push constant 224
push constant 2
call Math.divide 2
push constant 176
call AlienShot.getROLLER 0
call AlienShot.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push this 0
add
push constant 224
push constant 2
call Math.divide 2
push constant 176
call AlienShot.getPLUNGER 0
call AlienShot.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push this 0
add
push constant 224
push constant 2
call Math.divide 2
push constant 176
call AlienShot.getSQUIGGLY 0
call AlienShot.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 200
pop this 4
push constant 0
pop this 3
push constant 0
pop this 1
push constant 0
pop this 2
push pointer 0
return
function AlienShots.dispose 2
push argument 0
pop pointer 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push constant 3
lt
not
if-goto WHILE_END0
push local 1
push this 0
add
pop pointer 1
push that 0
pop local 0
push local 0
call AlienShot.dispose 1
pop temp 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function AlienShots.resetShots 2
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
push constant 3
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call AlienShot.resetTicks 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function AlienShots.tick 4
push argument 0
pop pointer 0
push constant 8000
pop local 3
push this 3
push constant 1
add
pop this 3
push this 3
push this 4
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 80
pop this 4
push this 1
pop local 0
label WHILE_EXP0
push local 0
push constant 3
lt
not
if-goto WHILE_END0
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call AlienShot.isActive 1
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 3
pop local 2
goto IF_END2
label IF_FALSE2
push this 2
push constant 1
add
pop this 2
call Constants.getSTART_X 0
push this 2
push constant 4
call Util.mod 2
push static 0
add
pop pointer 1
push that 0
push constant 16
call Math.multiply 2
add
pop local 2
label IF_END2
push local 1
push local 2
push argument 2
call AlienShot.fire 3
pop temp 0
push constant 0
pop this 3
push local 0
push constant 1
add
push constant 3
call Util.mod 2
pop this 1
push constant 3
pop local 0
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
label IF_FALSE0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
push constant 3
lt
not
if-goto WHILE_END1
push local 0
push this 0
add
pop pointer 1
push that 0
pop local 1
push local 1
push argument 3
push argument 4
call AlienShot.tick 3
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 260
pop this 4
push constant 0
not
return
label IF_FALSE3
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push constant 0
return
